/* LOGO */

.site-logo {
    font-family: 'Pacifico', cursive; 
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #213a3e;
    transition: 0.8s;
}
  
.site-logo::before {
    content: "🛍️";
    font-size: 42px;
    margin-right: 10px;
}
  
.site-logo:hover {
    color: #dcdcdc;
    transition: 0.5s;
}

/* -------- */

/* buttons */

.login-button, 
.signup-button, 
.products-button,
.host-button,
.back-button,
.contact-button,
.add-to-cart-button {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    background-color: #333; 
    color: white;
}
  
  
.login-button:hover,
.signup-button:hover,
.products-button:hover,
.host-button:hover,
.back-button:hover,
.contact-button:hover,
.add-to-cart-button:hover  {
    background-color: #555; 
    border-color: #555;
}

.back-button {
    max-width: fit-content;
    margin-left: 3px;
}

.contact-button {
    background-color: #2ba1a3;
}
.add-to-cart-button {
    background-color: rgb(175, 56, 56);
} 

.contact-button,
.add-to-cart-button {
    margin-left: 0;
}

/* -------- */